<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.baizhi.yqs.mapper.CategoryMapper">
    <resultMap id="res" type="com.baizhi.yqs.entity.Category">
        <id column="pid" property="id"></id>
        <result column="ptitle" property="title"></result>
        <result column="purl" property="url"></result>
        <result column="pic" property="iconcls"></result>
        <association property="category" javaType="com.baizhi.yqs.entity.Category">
            <id column="sid" property="id"></id>
            <result column="stitle" property="title"></result>
            <result column="surl" property="url"></result>
            <result column="sic" property="iconcls"></result>
        </association>
    </resultMap>
    <select id="queryAll" resultMap="res">
        select p.id pid,p.title ptitle,p.url purl,p.iconcls pic,s.id sid,s.title stitle,s.url surl,s.iconcls sic
        from menu p left join menu s on s.id=p.p_id where p.p_id is not null
    </select>
    <select id="queryOne" resultMap="res">
        select p.id pid,p.title ptitle,p.url purl,p.iconcls pic,s.id sid,s.title stitle,s.url surl,s.iconcls sic
        from menu p left join menu s on s.id=p.p_id where p.id=#{id}
    </select>


</mapper>